Makefile
Makefile.am
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
stamp-h*
*.pc
*.pc.in
Doxyfile
.project
.cdtproject
wsman_config.h
wsman_config.h.in
openwsman.spec
build
*.bz2
m4
*.o
*.lo
*.la
.deps
.libs
bindings/perl/openwsman.pm
bindings/perl/openwsman_wrap.c
bindings/python/openwsman_wrap.c
bindings/python/pywsman.py
bindings/ruby/openwsman_wrap.c
etc/init/openwsmand.sh
etc/owsmangencert.sh
src/server/openwsmand
