core
*~
Makefile
Makefile.am
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
stamp-h*
*.pc
*.pc.in
Doxyfile
.project
.cdtproject
wsman_config.h
wsman_config.h.in
openwsman.spec
build
*.bz2
m4
*.o
*.lo
*.la
*.class
.deps
.libs
bindings/perl/openwsman.pm
bindings/perl/openwsman_wrap.c
bindings/python/openwsman_wrap.c
bindings/python/pywsman.py
bindings/ruby/openwsman_wrap.c
bindings/ruby/html
bindings/ruby/mkmf.log
bindings/java/openwsman_wrap.c
bindings/java/*.java
etc/init/openwsmand.sh
etc/owsmangencert.sh
src/server/openwsmand
CMakeFiles
CMakeCache.txt
DartConfiguration.tcl
bindings/python/pywsman/COPYING
bindings/python/pywsman/dist/
bindings/python/pywsman/openwsman.c
bindings/python/pywsman/openwsman.h
bindings/python/pywsman/openwsman.i
bindings/python/pywsman/python/
bindings/python/pywsman/version.i
bindings/python/pywsman/version.i.in
bindings/python/pywsman/version.py
bindings/python/pywsman/version.pyc
bindings/python/pywsman/wsman-client.i
bindings/python/pywsman/wsman-client_opt.i
bindings/python/pywsman/wsman-epr.i
bindings/python/pywsman/wsman-filter.i
bindings/python/pywsman/wsman-names.i
bindings/python/pywsman/wsman-soap.i
bindings/python/pywsman/wsman-transport.i
bindings/python/pywsman/wsman-xml.i
bindings/version.i
bindings/python/tests/__pycache__